.category
{
	font-size: 2rem;
	text-align: center;
	justify-content: center;
	align-items: center;
	a
	{
		margin-right: 0.25em;
		flex:1;
		word-break: break-word;
	}
	button
	{
		flex-shrink: 0;
		display: inline-flex !important;
		align-items: center;
		justify-content: center;
	}
}