button
{
	font-size: 1.8rem;
	cursor:pointer;
	transition: 0.3s all ease;
	user-select: none;
	background: none;
	border: 1px solid var(--logo);
	padding: 0.25em 1em;
	border-radius: 0.5em;
	color:var(--text-color);
}
.default-btn
{
	background: none;
	border: none;
}
.bg-btn
{
	&:hover
	{
		background: var(--logo);
		color:var(--bg);
	}
}